body {
	background-image: url('')
}
.h1{
	text-align: center;

}

.botao{
    width: 350px;
    text-align: center;
    padding: 15px 20px;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: #FCC302;
    font-size: 18px;
}